.single-destination {
  background-image: url("../assets/images/single-destination/single-page-bg.webp");
}

input:focus {
  box-shadow: none !important;
}
textarea:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 500px) {
  .single-destination {
    background-image: url("../assets/images/single-destination/mob-bg.webp");
  }
}
