.curb {
  clip-path: ellipse(100% 100% at 50% 0%);
  background: #ce03391a;
}
@media only screen and (max-width: 1021px) {
  .curb {
    clip-path: none;
    clip-path: ellipse(100% 61% at 53% 49%);
  }
}