/* .pagination {
  display: flex;

  list-style: none;
  cursor: pointer;
  justify-content: center;
  margin: 60px 0px 40px 0px;
  gap: 16px;
}

.pagination a {
  border: 1px solid #f1b4c4;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  color: #d00338e5;
  font-family: "Ubuntu";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__link {
  font-weight: bold;
  background-color: #d51c4c;
  color: white !important;

}
.pagination__link--active a {

  background-color: #f1b4c4;
  border-radius: 8px;
  border: 1px solid #d0033a00;
}
.pagination__link--disable a {
  background-color: #f1b4c433;
  border-radius: 6px;

  color: #393e5066 !important;
  border: none !important;
} */


/* preloader */
#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background: #fff;
}
.loading {
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 41px;
  color: #D41B4B;
}
.loading span {
  display: inline-block;
  margin: 0 -0.05em;
  letter-spacing: 17px;
}


#preloader::after {
  background: #fff;
}
.loading01 span {
  animation: 1s infinite alternate loading01;
}
.loading01 span:first-child {
  animation-delay: 0s;
}
.loading01 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading01 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading01 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading01 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading01 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading01 span:nth-child(7) {
  animation-delay: 0.6s;
}
.loading01 span:nth-child(8) {
  animation-delay: 0.6s;
}
.loading01 span:nth-child(9) {
  animation-delay: 0.6s;
}
@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* preloader */